<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Página de cadstro</title>
</head>
<body>
<form action="/addcadastro" method="POST">
  <div class="form-group">
    <label for="nome">Seu nome:</label>
    <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Te chamo de?">
    <small id="nome" class="form-text text-muted">Qual é o seu nome?</small>
  </div>
  <div class="form-group">
    <label for="email">Seu email:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email aqui">
    <small id="email" class="form-text text-muted">Cadastre seu e-mail</small>
  </div>
  <div class="form-group">
    <label for="telefone">Seu telefone</label>
    <input type="text" class="form-control" id="telefone" placeholder="Telefone">
    <small id="email" class="form-text text-muted">E o seu telefone</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>